body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
  font-family: "Playfair Display", serif;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(135deg, #ab5be4, #d6c2fd);
  color: white;
  text-align: center;
}
header img {
  width: 125px;
  height: 125px;
  border-radius: 50%;
}
header h1 {
  font-size: 4rem;
  margin: 1rem 0 0.5rem;
  font-family: "Playfair Display", serif;
}
header h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-family: "Playfair Display", serif;
}
header p {
  font-size: 1rem;
  margin-bottom: 2rem;
}
.social-icons {
  display: flex;
  gap: 1rem;
}
.social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  color: #ab5be4;
  text-decoration: none;
  font-size: 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}
.social-icons a:hover {
  transform: scale(1.1);
}
.social-icons img {
  width: 30px;
  height: 30px;
  transition: transform 0.3s;
}
.social-icons img:hover {
  transform: scale(1.2);
}
.cv-button {
  display: inline-block;
  padding: 15px 30px;
  margin-top: 2rem;
  background-color: #ab5be4;
  color: white;
  font-size: 1.1rem;
  text-align: center;
  text-decoration: none;
  border-radius: 50px;
  white-space: nowrap;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  font-family: "Playfair Display", serif;
  border: 2px solid white;
}

.cv-button:hover {
  background-color: #9a4cd9;
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
.arrow {
  margin-top: 2rem;
  font-size: 2rem;
  animation: bounce 1.5s infinite;
}
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}
main {
  padding: 2rem;
  text-align: center;
}
main h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #ab5be4;
}
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  padding: 1rem;
}
.project {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  height: 350px;
}

.project:hover {
  transform: scale(1.05);
}
.project img {
  width: 100%;
  border-radius: 10px;
}
.project h3 {
  margin: 0.5rem 0;
  font-size: 1.2rem;
  color: #ab5be4;
}
footer {
  text-align: center;
  padding: 1rem;
  background-color: #d6c2fd;
  color: #333;
}
a {
  color: inherit;
  text-decoration: underline;
}
.description {
  max-width: 700px;
  margin: 0 auto;
  text-align: justify;
  line-height: 1.6;
  font-size: 1.2rem;
  color: #f0f0f0;
  margin-bottom: 10px;
}
.icongit {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  color: #ab5be4;
  text-decoration: none;
  font-size: 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}
.icongit:hover {
  width: 40px;
  height: 40px;
  transition: transform 0.3s;
}
